OpenDentBusiness/Web References/OpenDentalServer/ServiceMain.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.open-dent.com/OpenDentalServer" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.open-dent.com/OpenDentalServer" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.open-dent.com/OpenDentalServer">
      <s:element name="ProcessRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dtoString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProcessRequestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ProcessRequestSoapIn">
    <wsdl:part name="parameters" element="tns:ProcessRequest" />
  </wsdl:message>
  <wsdl:message name="ProcessRequestSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessRequestResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceMainSoap">
    <wsdl:operation name="ProcessRequest">
      <wsdl:input message="tns:ProcessRequestSoapIn" />
      <wsdl:output message="tns:ProcessRequestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceMainSoap" type="tns:ServiceMainSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessRequest">
      <soap:operation soapAction="http://www.open-dent.com/OpenDentalServer/ProcessRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceMainSoap12" type="tns:ServiceMainSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessRequest">
      <soap12:operation soapAction="http://www.open-dent.com/OpenDentalServer/ProcessRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceMain">
    <wsdl:port name="ServiceMainSoap" binding="tns:ServiceMainSoap">
      <soap:address location="http://localhost/OpenDentalServer/ServiceMain.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceMainSoap12" binding="tns:ServiceMainSoap12">
      <soap12:address location="http://localhost/OpenDentalServer/ServiceMain.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>